/* Documento para la configuración de todos los elementos predeterminados */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #173b42;
    background: linear-gradient(340deg,rgb(12, 37, 30) 0%, rgb(11, 46, 27) 14%, rgb(11, 48, 23) 31%, rgb(36, 89, 41) 51%, rgb(11, 46, 21) 72%, rgb(8, 39, 11) 87%, rgb(3, 22, 10) 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(232, 255, 233);
}

main {
    display: flex;
    gap: 80px;
    align-items: center;
    max-width: 1000px;
    width: 90%;
}

.info-section {
    flex: 1;
}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.logo-icon i {
    background: #104207;
    background: linear-gradient(140deg,rgba(16, 66, 7, 1) 0%, rgba(0, 140, 72, 1) 50%, rgba(151, 235, 91, 1) 100%);
    width: 45px;
    height: 45px;
    margin-right: 0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 24px;
    box-shadow: 0 4px 15px rgba(70, 203, 84, 0.4);
}

.brand h1 {
    font-size: 28px;
    font-weight: 1000;
}

.subtitle {
    font-size: 14px;
    color: #cfffcfd5;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.feature-item .icon {
    background: rgba(255, 255, 255, 0.1);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 18px;
}

.icon i {
    margin-left: 20px;
}

.feature-item h3 {
    font-size: 16px;
    font-weight: 600;
}

.feature-item p {
    font-size: 13px;
    color: #daffdbbb;
    margin-top: 2px;
}

.form-login {
    background-color: rgb(255, 255, 255);
    color: #003f00;
    padding: 40px;
    border-radius: 12px;
    width: 420px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.title-login {
    font-size: 22px;
    margin-bottom: 12px;
}

.form-login > p {
    font-size: 14px;
    color: #003f008e;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
}

.input-group:nth-of-type(2) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    font-size: 12px;
    color: #003f00;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.input-login {
    width: 100%;
    padding: 12px;
    color: #003f00;
    border: 1px solid #bcd1bc58;
    border-radius: 6px;
    background-color: #ecffec4a;
    margin-bottom: 15px;
}

.input-login:focus {
    border-color: #003f00;
    outline: none;
    box-shadow: 0 0 0 2px #26a12661;
}

.btn-enviar {
    width: 100%;
    padding: 12px;
    background-color: #001800;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: #012701;
    transition: 0.3s;
}

.btn-enviar:active {
    background-color: #003e00;
    transition: 0.1s;
}

.btn-volver {
    width: 100%;
    padding: 12px;
    background-color: #f1f9f1;
    color: #003f00;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

i {
    margin-right: 20px;
}

.btn-volver:hover {
    background-color: #8ac48a3c;
    transition: 0.3s;
}

.demo-credentials > p {
    font-size: 11px;
    color: #003f008e;
    text-align: center;
    margin-bottom: 10px;
    border-top: 1px solid #bcd1bc58;
    margin-top: 30px;
    padding-top: 25px;
}